.title {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
.content {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 46px);
}
.address {
  background: #555;
  color: #fff;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  max-width: 100%;
  cursor: pointer;
  position: relative;
}
b {
  font-weight: bold;
}
.notice {
  margin-bottom: 12px;
  color: #ccc;
  font-weight: bold;
}
.regenerateNotice {
  text-align: center;
  line-height: 1.5;
  margin-top: 12px;
  color: #ccc;
  max-width: 90%;
  font-size: 0.75rem;
  font-weight: bold;;
}
.disclaimer {
  text-align: center;
  line-height: 1.5;
  margin-top: 24px;
  color: #ccc;
  max-width: 90%;
}
.btn {
  display: block;
  width: 210px;
  margin-top: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 12px 32px;
  border-radius: 2px;
  background: #555;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.shareLink {
  display: block;
  width: 210px;
  margin-top: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 16px 32px;
  border-radius: 2px;
  background: #555;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.btn:hover, .shareLink:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.helperText {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 4px;
  background: #282c37;
  border-radius: 4px 0 0 0;
}
.link {
  text-decoration: none;
  color: #fff;
}
