.buttonIcon {
  width: 50%;
}
.hangUpBtn {
  border-radius: 100%;
  border: none;
  color: #fff;
  width: 72px;
  height: 72px;
  margin: 0 16px;
  background: #ff5252;
  box-shadow: 0 0 4px #ff5252;
}
.callBtn {
  border-radius: 100%;
  border: none;
  color: #fff;
  width: 72px;
  height: 72px;
  margin: 0 16px;
  background: #008ffe;
  box-shadow: 0 0 4px #008ffe;
}
